node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
pnpm-lock.yaml

dist/
build/
*.log

.env
.env.local
.env.*.local

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

/coverage
*.tgz

pgdata/

vite.config.ts
*.tsbuildinfo
*.cache
*.env

babel.config.json
*.db
*.sqlite
*.sqlite3
*.log

*.pem
*.key
*.crt
*.pub

*.tmp
*.temp
